body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 2fr 3f 1fr;
}

header {
    background: url(../img/header.jpg);
    background-size: center;
    background-position: center;
    height: 25.4em;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0.625em;
}

header * {
    margin: 0.625em;
    padding: auto;
}

.menu {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}

.logo {
    background: url(../img/logo.png);
    background-size: 4.8em;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    margin: 3.4em 0.8em;
}

.logo a {
    margin: 0;
    padding: 2.2em;
}

.logo:hover {
    background: url(../img/logo2.png);
    background-size: 5.2em;
    background-position: center;
    background-repeat: no-repeat;
}

.logo:active {
    background: url(../img/logo.png);
    background-size: 5em;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 1em;
}

nav a {
    padding: 0;
}

a {
    color: #999;
    text-decoration: none;
    margin: auto;
    padding: auto;
}

a:hover {
    color: #000;
}

a:active {
    color: #e45;
}

i {
    margin: auto;
    padding: 0.3em;
}

span {
    margin: 0;
    padding: 0;
}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 3.5em;
}

.social a {
    grid-row: 1 / -1;

}

.principal {
    background: #0001;
    margin: 4em 5em 0 5em;
    padding-top: 0.9em;
}

h1 {
    color: #f8985fcc;
    font-family: 'Sorts Mill Goudy', serif;
}

main {
    grid-column: 1 / -1;
    grid-template-columns: 3.14fr 1fr;
    display: grid;
}

section {
    background: #ccc;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0.625em;
}

article {
    background-color: #eee;
    margin: 0.625em;
    padding: 0.625em;
}

.contenedor-imagenes {
    height: 12.5em;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contenedor-imagenes img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

article h4 {
    color: #f9ee76bb;
    font-family: sans-serif;
    position: absolute;
    top: 9.9em;
    margin-left: 0.3em;
}

article h2 {
    background: #F37878;
    color: #fee;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.1em;
    padding-top: 0.3em;
    padding-left: 0.15em;
}

article .text {
    color: #555;
    column-count: 2;
    margin-top: 0;
    margin-left: 0.3em;
    margin-bottom: 1.4em;
}

article a {
    color: #888;
    padding-left: 0.3em;
}

.large {
    background: none;
    color: #000;
    padding: 0;
    grid-column: 1 / -1;
    text-align: center;
}

.large p {
    margin: 0 0.625em;
}

aside {
    background: #ccc;
    text-align: center;
    margin-left: 0.625em;
    margin-bottom: 0.625em;
    padding: 0.625em;
}

footer {
    background: #ccc;
    text-align: center;
    grid-column: 1 / -1;
    margin-bottom: 0.625em;
}

footer a {
    color: #666;
}

.pie {
    background: #eee;
    margin: 0 0.625em;
    padding: 0.625em;
}

@media (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }

    .logo a {
        padding: 0 2.4em;
    }

    h1 {
        font-size: 1.7em;
        padding-top: 0.3em;
    }

    aside {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    header {
        height: 42em;
    }

    .menu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .logo {
        margin: auto;
        padding: 0;
    }

    .logo a {
        padding: 2.4em;
    }

    span {
        display: none;
    }

    .principal {
        margin: 4em 0 0 0;
    }

    h1 {
        font-size: 1.3em;
        padding-top: 0.7em;
    }

    section {
        grid-template-columns: 1fr;
    }
}