html,
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-image: url(../img/header.jpg);
    background-size: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 25.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0.6em;
}

header * {
    margin: 10px;
    padding: 10px;
}

.menu {
    display: flex;
    margin-top: 2em;
}

.log {
    flex: 0.5 1 auto;
    background-image: url(../img/logo.png);
    background-size: 4.6em;
    background-position: center;
    background-repeat: no-repeat;
}

.log:hover {
    background-image: url(../img/logo.png);
    background-size: 4.9em;
    background-repeat: no-repeat;
}

.log a{
    padding: 0em 2em 3em 2em;
    margin: 0em -0.8em;
}

nav {
    flex: 4 1 auto;
    display: flex;
    justify-content: space-around;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #000;
}

i {
    margin: auto;
    padding: 0.3em;
}

span {
    margin: 0;
    padding: 0;
}

.social {
    flex: 0.5 1 auto;
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

.social a {
    padding: 0.2em;
    margin: 0;
}

.principal {
    background: #0001;
    margin: 0.1em 4.5em;
    padding: 0.8em 0 2.4em 0;
}

h1 {
    color: #f8985fcc;
    font-family: 'Sorts Mill Goudy', serif;
}

main {
    display: flex;
}

section {
    background: #ccc;
    display: flex;
    flex-wrap: wrap;
    flex: 3 1 77%;
    margin-bottom: 0.6em;
}

article {
    background: #eee;
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    margin: 0.6em;
    padding: 0.6em;
}

article a{
    padding-left: 0.3em;
}

.contenedor-imagenes{
    height: 12.5em;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contenedor-imagenes img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

article h4 {
    position: absolute;
    color: #f9ee76bb;
    bottom: 0;
    margin: auto;
    margin-left: 0.3em;
}

article h2 {
    background-color: #F37878;
    color: #fee;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.2em;
    padding: 0.4em 0 0 0.2em;
}

article .text {
    color: #555;
    column-count: 2;
    margin-top: 0;
    margin-left: 0.3em;
    margin-bottom: 1.4em;
}

article a {
    color: #888;
}

.large {
    background: none;
    color: #000;
    flex: 1 1 100%;
    padding: 0;
    text-align: center;
}

.large p{
    margin: 0;
}

aside {
    background: #ccc;
    flex: 2 1 23%;
    text-align: center;
    margin-left: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.3em;
}

.publicidad {
    margin: 1em;
}

footer {
    background: #ccc;
    text-align: center;
    margin-bottom: 0.6em;
}

footer a {
    color: #666;
}

.pie {
    background: #eee;
    padding: 0.6em;
    margin: 0 0.6em;
}

@media (max-width: 1024px) {
    .log {
        padding: 1em;
    }

    .log a {
        padding-bottom: 3.2em;
    }
    
    .principal {
        font-size: small;
        padding: 1.4em 0 3.2em 0;
    }
    
    main {
        flex-direction: column;
    }
    
    aside {
        margin-left: 0;
    }
}

@media (max-width: 769px) {
    header {
        height: 37em;
    }
    
    .menu {
        flex-direction: column;
    }
    
    .log {
        padding: 1.8em;
        margin: 0.6em auto;
    }
    
    .log:hover {
        background-size: 5em;
    }
    
    .log a{
        padding: 1.4em 2.3em 1.7em 2em;
    }
    
    nav {
        margin: 0;
    }

    .social {
        margin: 0;
    }

    span {
        display: none;
    }

    .principal {
        font-size: x-small;
        margin: 0;
        padding-bottom: 14em;
    }

    h1 {
        padding: 0;
    }

    section {
        flex-direction: column;
    }
}